@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        /* Converted from HEX to HSL */
        --color-text: 0deg 0% 100%; /* hsl(0deg 0% 100%) */
        --color-subtext2: 210deg 13% 95%; /* hsl(210deg 13% 95%) */
        --color-subtext1: 210deg 13% 86%; /* hsl(210deg 13% 86%) */
        --color-subtext0: 210deg 13% 79%; /* hsl(210deg 13% 79%) */
        --color-overlay2: 210deg 11% 71%; /* hsl(210deg 11% 71%) */
        --color-overlay1: 210deg 11% 63%; /* hsl(210deg 11% 63%) */
        --color-overlay0: 210deg 11% 54%; /* hsl(210deg 11% 54%) */
        --color-surface2: 210deg 8% 48%; /* hsl(210deg 8% 48%) */
        --color-surface1: 210deg 7% 41%; /* hsl(210deg 7% 41%) */
        --color-surface0: 210deg 7% 35%; /* hsl(210deg 7% 35%) */
        --color-base: 210deg 8% 23%; /* hsl(210deg 8% 23%) */
        --color-crust: 210deg 9% 15%; /* hsl(210deg 9% 15%) */
        --color-mantle: 210deg 9% 6%; /* hsl(210deg 9% 6%) */
    }
}
