[Desktop Entry]
Categories=Utility;TextEditor;
Name=Rhyolite
Comment=A simple text editor written in Rust using Tauri
Exec=Rhyolite
Icon=/usr/share/icons/hicolor/1080x1080/apps/Rhyolite.png
Terminal=false
Type=Application
Author=Suyog Tandel
