@import "highlight.js/styles/github.css";

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

* {
    font-family: "JetBrains Mono", serif;
    overscroll-behavior: none;
    -ms-scroll-chaining: none;
}

/* Global scrollbar styles */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #6c7086;
    border-radius: 999px;
}

/* Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #6c7086 transparent;
}

body {
    overscroll-behavior: none;
    -ms-scroll-chaining: none;
}